.hidden{
    display: none;
}

#hybrids-form{
    position:fixed; 
    width:50vw;
    border:1px solid black;
    right:0;
    top:0;
    font-family:Arial, Helvetica, sans-serif;
}

.column{
    float:left;
    width:50%;
}

body{
    color:black;
    background:turquoise;
}

#users-container{
    font-family:Arial, Helvetica, sans-serif;
}

#users-form{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}



#hybrids-container{
    font-family:Arial, Helvetica, sans-serif;
}