.hidden{
    display: none;
}

#hybrids-form{
    position:fixed; 
    width:50vw;
    border:3px solid rgb(112, 194, 219);
    right:0;
    top:0;
    font-family:Arial, Helvetica, sans-serif;
}

.column{
    float:left;
    width:50%;
}

body{
    color:rgba(116, 174, 228, 0.804);
    background:rgb(16, 23, 39);
}

#users-container{
    font-family:Arial, Helvetica, sans-serif;
}

#users-form{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
}



#hybrids-container{
    font-family:Arial, Helvetica, sans-serif;
    border:3px solid rgb(112, 194, 219);
    
}

button{
    background-color: #008CBA;
}